@model ECommerceCase.UI.Models.CreateOrderViewModel

<p>Buyer ID: @Model.BuyerId</p>
<p>Email: @Model.Email</p>
<p>Phone Number: @Model.PhoneNumber</p>

<h3>Order Items</h3>
<table>
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Quantity</td>
        </tr>
    }
    </tbody>
</table>